.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  @media (min-width: 900px) {
    flex-direction: row;
    gap: 3rem;
  }
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  > h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  img {
    border-radius: 0.5rem;
  }
}

.header {
  display: flex;
}

.titleArea {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: #ffffff;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
    color: #dddddd;
    font-weight: 500;
  }

  input {
    margin-top: 0.9rem;
  }
}
