*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0.5rem;
  background: #1f1f1f;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  --content-width: 95%;

  width: var(--content-width);

  @media (min-width: 768px) {
    --content-width: 75%;
  }

  @media (min-width: 1500px) {
    --content-width: 1200px;
  }
}

.adminContent {
  margin-top: 1rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 300px auto;
}
