.volumeSlider {
  width: 15rem;
  height: 0.5rem;

  background: #474747;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 0.5rem;

  &:hover {
    opacity: 0.8;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}
